body {
    text-align: center;
    background-color: rgb(76, 230, 250);
    background-size: cover;

    overflow: hidden;
    user-select: none;
   

    font-size: 25px;
    font-family: 'Segoe UI';
    color: white;
}

button {
    position: absolute;
    padding:1%;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 10rem;
    margin-right: 1rem;
    font-family: 'Segoe UI';
    border: none;
    border-radius: 35px;
    
    color:white;
    background-color: rgb(144, 168, 144);
}


button:active {
    background-color: white;
    color: rgb(144, 168, 144);
    transition: all 400ms ease-out;
}



#bla {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    width: 100%;
    height: 100%;
    
    }

h1 {
    position: absolute;
    margin-top: 4rem;
    margin-right: 1.5rem;
}

h2 {
    position: absolute;
    margin-top: 8rem;
    margin-right: 1.5rem;
}

h3 {
    position: absolute;
    margin-top: 4rem;
    margin-right: 1.5rem;
}